<a href="https://colab.research.google.com/github/nefetorve/Advent-of-Code/blob/main/2021/day_5/day5_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
values = ["0,9 -> 5,9",
"8,0 -> 0,8",
"9,4 -> 3,4",
"2,2 -> 2,1",
"7,0 -> 7,4",
"6,4 -> 2,0",
"0,9 -> 2,9",
"3,4 -> 1,4",
"0,0 -> 8,8",
"5,5 -> 8,2"]

with open('input.txt') as f:
    values = f.read().splitlines()
new_values = []
for value in values:
  value = value.split("->")
  for _,v in enumerate(value):
    v = v.split(",")
    new_values.append(v)

In [10]:
pair = []
values = []
for value in new_values:
  for _,i in enumerate(value):
    pair.append(int(i))
    if _ >= 1:
      values.append(pair)
      pair = []

In [11]:
def every_first_element(values):
    second_values = []

    for index in range(0, len(values), 2):
        second_values.append(values[index])

    return second_values 
def every_second_element(values):
    second_values = []

    for index in range(1, len(values), 2):
        second_values.append(values[index])

    return second_values

In [12]:
element_1 = every_first_element(values)
element_2 =  every_second_element(values)

In [13]:
import numpy as np
element_1 = np.array(element_1)
element_2 = np.array(element_2)

In [14]:
mask = (element_1 == element_2)

In [15]:
mask_element = mask*element_1

In [16]:
points = []
values_points_x_or_y = []
values_xy = []
for _,mask in enumerate(mask_element):
    value = None
    if mask[0] !=0:
      idx_value = 0 
      value = mask[idx_value]
      idx = 1
    if mask[1] !=0:
      idx_value = 1
      value = mask[idx_value]
      idx = 0

    if value == None:
      value_x1 = element_1[_][0]
      value_y1 = element_1[_][1]
      value_x2 = element_2[_][0]
      value_y2 = element_2[_][1]
      if value_x1-value_x2>=0:
        i = -1
        values_x = np.arange(value_x1,value_x2+i,i)
      else:
        i = 1
        values_x = np.arange(value_x1,value_x2+i,i)
      if value_y1-value_y2>=0:
        i = -1
        values_y = np.arange(value_y1,value_y2+i,i)
      else:
        i = 1
        values_y = np.arange(value_y1,value_y2+i,i)
      value_xy = (values_x,values_y)
      values_xy.append(value_xy)


    if value!=None:
      if element_1[_][idx]-element_2[_][idx] >= 0: 
        i = -1
        values = np.arange(element_1[_][idx],element_2[_][idx]+i,i)
      else: 
        i = 1
        values = np.arange(element_1[_][idx],element_2[_][idx]+i,i)
    

      
      points_per_position = (value,idx_value)
      points.append(points_per_position)
      values_points_x_or_y.append(values)

In [17]:
new_array = []
for _,point in enumerate(values_points_x_or_y):
  for __,z in enumerate(point):
    new_value = points[_][0]
    if points[_][1] == 0:
      elements = [new_value,z]
    if points[_][1] == 1:
      elements = [z,new_value]
    new_array.append(elements)

In [18]:
pair = []
new_list = []
for _,values in enumerate(values_xy):
  for __,value in enumerate(values):
    if __<= 1:
      pair.append(value)
    new_list.append(pair)
    pair = []

In [19]:
new_params = []
for _,point in enumerate(new_list):
  for __,z in enumerate(point):
    value = z.tolist()
    new_params.append(value)

In [20]:
compare = []
a = every_first_element(new_params)
b =  every_second_element(new_params)
for _,list in enumerate(a):
  for __,i in enumerate(list):
    values = [i,b[_][__]]
    compare.append(values)

In [21]:
for element in compare: 
  new_array.append(element)

In [22]:
import pandas as pd
df = pd.DataFrame(new_array)
df = df.rename(columns={0: 'x',1:"y"})

In [23]:
df_duplicate = df[df.duplicated(['x',"y"])]

In [24]:
df_duplicate = df_duplicate.values.tolist()
df =  df.values.tolist()

In [25]:
count = 0
tmp = []
for i in df_duplicate:
  if i in tmp:
    continue
  if i in df:
    count +=1 
    tmp.append(i)

In [26]:
count

21514